<p style="color: #000000; font-size: 14px; line-height: 16px; font-family: arial, helvetica, sans-serif;">
    Your daily check-in for {{date}} is ready to be completed by clicking the following link. {{questionnaireLink}}
</p>
<p style="color: #000000; font-size: 14px; line-height: 16px; font-family: arial, helvetica, sans-serif;">
    If you are unable to submit online, please call 1-888-245-9403.
</p>
